
/* ==============================================
	PROJECT 04 STYLES
============================================== */
	
	/* Home Inner and texts */
	.hero.project4 .hero-wrapper .colored-strip{ width: 160px; height: 1px; margin: 0 auto; }
	.hero.project4 .hero-wrapper .home-title{ font-size: 36px; color: #FFFFFF; letter-spacing: 24px; display: inline-block; margin-left: 24px; margin-top: 15px; font-weight: 300; text-transform: uppercase; }
	.hero.project4 .hero-wrapper .home-desc{ font-size: 15px; color: #7C7C7C; letter-spacing: 0px; margin-top: 15px; }
	/* Button styles */
	.project4-btn{ display: inline-block; padding: 7px 45px 6px; background: transparent; border: 1px solid rgba(255,255,255,0.13); text-transform: uppercase; color: rgba(255,255,255,0.79); border-radius: 50px; font-size: 11px; margin-top: 18px; font-weight: 600; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.project4-btn:hover,.project4-btn:focus{ color: white; }
		@media screen and (max-width: 640px){
			.home.project4 .home-inner .colored-strip{ width: 110px; }
			.home.project4 .home-inner .home-title{ font-size: 24px; letter-spacing: 12px; margin-left: 12px; }
			.home.project4 .home-inner .home-desc{ font-size: 12px; }
		}

/* ==============================================
	ABOUT PAGE
============================================== */

	section.about .section-inner{ padding-bottom: 120px; }


/* ==============================================
	IMAGES SECTION
============================================== */

	section.images-section{ border-bottom: 1px solid #e6e6e6; }

	/* Slider in post media */
	.images-section.project4 .image-slider{ position: relative; overflow: hidden; }
	.images-section.project4 .image-slider img{ display: block; max-width: 100%; }
	.images-section.project4 .image-slider-arrows{ position: absolute; width: 100%; height: 60px; left: 0; top: 50%; margin-top: -30px; z-index: 2; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; pointer-events: none; }
	.images-section.project4 .image-slider-arrows>div{ width: 30px; height: 60px; background: #505050; color: white; line-height: 60px; text-align: center; cursor: pointer; opacity: 0; pointer-events: auto; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
	/* Slider Bullets */
	.images-section.project4 .image-slider-pagination{ position: absolute; left: 0; z-index: 100; bottom: 20px; text-align: center; opacity: 0; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
	.images-section.project4 .swiper-pagination-bullet{ width: 12px; margin:0px 4px !important; height: 12px; background-color: #888888; opacity: 1; }
	.images-section.project4 .image-slider:hover .image-slider-pagination,
	.images-section.project4 .image-slider:hover .image-slider-arrows>div{ opacity: 1; }

	/* Left Area styles */
	.details.project4 .column{ margin-top: 30px; font-weight: 400; }
	.details.project4 { font-size: 16px; color: #505050; line-height: 25px; margin-top: 15px; font-weight: 600; }
	.details.project4 .detail-title{ font-size: 16px; color: #505050; line-height: 25px; margin-top: 15px; font-weight: 600; }
	.details.project4 .detail-desc{ font-size: 14px; color: #949494; line-height: 18px; }
	.details.project4 a.detail-desc:hover{ text-decoration: underline; }
	/* Center project details */
	.details.project4 .project-desc{ font-size: 14px; color: #949494; line-height: 27px; margin-top: 15px; }
	/* Right list */
	.details.project4 .project-list li{ font-size: 14px; color: #949494; line-height: 27px; margin-top: 15px; }
	.details.project4 .project-list li i{ font-size: 11px; color: #949494; margin-top: -2px; display: inline-block; }

/* ==============================================
	DETAILS SECTION
============================================== */

	.project-boxes .section-inner{ padding-top: 80px; padding-bottom: 80px; }

/* ==============================================
	BOTTOM HERO SECTION
============================================== */

	.bottom-hero .bottom-hero-title{ font-size: 22px; color: #FFFFFF; letter-spacing: 15px; left: 15px; font-weight: 300; margin-top: 14px; position: relative; }





